html {
  background-color: #383838;
}

a {
  color: #aaa;
  text-decoration: none;
  transition-duration: 100ms;
}

a:hover {
  transition-duration: 100ms;
  color: #a63a00;
}

a:active {
  transition-duration: 100ms;
  color: #ff5f09;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  line-height: 2em;
  color: #aaaaaa;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

h1 {
  line-height: 1.25em;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #035D91;
  z-index: 1000;
}

:root {
  --primary-color: #035d91;
  --overlay-color: #035D91;
  --menu-speed: 0.75s;
}

#brand {
  display: inline;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  margin: 0;
  font-weight: bold;
  font-family: "Unica One", cursive;
  color: #ff5900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  font-size: 2em;
  padding-left: 10px;
}

.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #035D91;
  height: 50px;
  overflow: hidden;
}

.menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
  margin-top: 5px;
  padding-left: 15%;
  padding-right: 10px;
  border-radius: 2px;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.menu li a:hover {
  background-color: #fff;
  color: #035D91;
}

.menu li {
  padding: 5px;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 0.3rem;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* Hamburger lines */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #11212c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* Create both lines above center */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: #253048;
}
/* Move bottom line below center */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animation */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* Default Closed Menu */
.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #035D91;
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* Handle Opening Menu */
.toggler:checked ~ .menu {
  width: 250px;
}

@media only screen and (min-width: 768px) {
  .toggler,
  .menu-wrap .hamburger,
  .menu-wrap .hamburger > div,
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    display: none;
  }
  .menu-wrap .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .menu {
    height: 50px;
    width: 100%;
    background-color: #035D91;
    padding-top: 0;
  }
  .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .menu li a {
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 0;
  }
  .menu li {
    padding: 0;
  }
}


section {
  padding: 2% 4%;
}

.sbs-container-main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sbs-container {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-device-width: 340px) {
  .sbs-container {
    flex-direction: column;
  }
}

.title {
  font-family: "Unica One", cursive;
  color: #ff5900;
  text-shadow: 1px 1px 1px black;
}

.contact-info {
  text-align: center;
}

.contact-info a {
  margin: 10px 5px;
}

.contact-info i {
  text-shadow: 1px 1px 2px black;
}

.tech-stack-container {
  background-color: #035D91;
  margin: 0;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

.tech-stack {
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.tech-stack a {
  color: #fff;
  transition-duration: 100ms;
}

.tech-stack a:hover {
  transition-duration: 100ms;
  color: #a63a00;
}

.headline {
  text-shadow: 1px 1px 1px black;
}

.indent {
  padding-left: 20px;
}

.project-card {
  margin: 15px;
  padding: 5px;
  border-radius: 7px;
  background-color: #aaaaaa;
  color: black;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  transition-duration: 250ms;
  min-height: 300px;
  max-width: 85%;
}

.project-title {
  font-size: 1.25em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.project-card img {
  border: 1px solid #383838;
  border-radius: 3px;
  width: 100%;
  transition-duration: 200ms;
}
.project-card img:hover {
  transform: scale(1.5) translate(35px);
  transition-duration: 200ms;
}

.project-card p {
  margin-top: 0;
  text-align: left;
  padding: 0 8px 8px 8px;
}

.project-card:hover {
  transition-duration: 250ms;
  transform: scale(1.1);
}

.project-card a {
  color: #03446A;
}

.project-card a:hover {
  color: #1287CC;
  text-decoration: underline;
}

.project-screenshot {
  height: auto;
  width: 150px;
}

.right-project-info p {
  line-height: 1.1em;
}

.stack-icon i {
  margin: 5px 10px;
}

#projects-title {
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #035D91;
  color: #fff;
}

footer a {
  color: #fff;
  margin: 10px;
  text-shadow: 1px 1px 2px black;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background-color: rgba(3, 68, 106, 0.5);
  line-height: 45px;
  border-radius: 7px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: rgba(4, 87, 137, 0.5);
}

.scroll-to-top i {
  font-weight: 800;
}

@media only screen and (min-device-width: 768px) {
  body {
    font-size: 20px;
    line-height: 1.6em;
  }
  .navbar {
    padding-right: 6%;
    padding-left: 6%;
  }
  .navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    display: inline-block;
  }
  .navbar li {
    font-family: "Unica One", cursive;
    font-size: 1.5em;
    display: flex;
    float: right;
    margin: 0 10px;
  }
  .navbar a {
    border-top: none;
    padding-left: 0;
  }
  .navbar a:hover {
    background-color: #035D91;
    color: #ff5900;
  }
  .navbar button {
    display: none;
  }
  section {
    margin-right: 5%;
    margin-left: 5%;
  }
  h4 {
    font-size: 1.25em;
  }
  .sbs-container-main {
    flex-direction: row;
  }
  .contact-info {
    min-width: 40%;
  }

  .bio {
    max-width: 40%;
  }

  .tech-stack {
    min-width: 40%;
  }

  .left-project-info {
    min-width: 49%;
  }

  .right-project-info {
    min-width: 49%;
  }
  .projects {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
  }
  .project-card {
    min-width: 200px;
    max-width: 350px;
  }
  .project-card:hover {
    transition-duration: 250ms;
    transform: scale(1.2);
  }
  .project-screenshot {
    max-width: 100%;
    height: auto;
  }
}

/* Color Pallette */
/* As hex codes */

/* .color-primary-0 { color: #0572B3 }	/* Main Primary color */
/* .color-primary-1 { color: #3D97CD } Blue */
/* .color-primary-2 { color: #1287CC } */
/* .color-primary-3 { color: #045789 } */
/* .color-primary-4 { color: #03446A } */

/* .color-secondary-1-0 { color: #FFB000 }	Main Secondary color (1) */
/* .color-secondary-1-1 { color: #FFC441 } Gold-Yellow */
/* .color-secondary-1-2 { color: #FFB309 } */
/* .color-secondary-1-3 { color: #D69400 } */
/* .color-secondary-1-4 { color: #A67300 } */

/* .color-secondary-2-0 { color: #FF5900 }	Main Secondary color (2) */
/* .color-secondary-2-1 { color: #FF8341 } Orange-Red */
/* .color-secondary-2-2 { color: #FF5F09 } */
/* .color-secondary-2-3 { color: #D64B00 } */
/* .color-secondary-2-4 { color: #A63A00 } */
